{% extends "journal/base.html" %}

{% block title %}My Journal{% endblock %}

{% block content %}
	<h1 style="font-weight:bold; font-family:Grabiola">My Trading Journal</h1>

	<table border="2" cellpadding="4" cellspacing="2" width="150%">
		<tr>
			<th>Currency</th>
			<th style="width:15%">Trade Type</th>
			<th>Result</th>
			<th style="width:15%">Date</th>
			<th style="width:15%">Entry Time</th>
			<th>Broker</th>
			<th>Trade Analysis</th>
		</tr>

		{% for trade in trades %}
		
		<tr>
			<td><a href="{% url 'journal:trade_detail' trade.id %}">
				{{ trade.currency_pair }}</a></td>
			<td>{{ trade.type_of_trade }}</td>
			<td>{{ trade.result }}</td>
			<td>{{ trade.date }}</td>
			<td>{{ trade.entry_time }}</td>
			<td>{{ trade.broker }}</td>
			<td>{{ trade.analysis|truncatewords:5|linebreaks }}</td>
		</tr>
		{% endfor %}
	</table>
	<p style="font-weight:bold">Click on any currency to get details of the analyis on each trade.</p>

{% endblock %}
